<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <table>
    <%@prizes.each do |prize|%>
    <tr>
      <td>賞品:<%=prize.name%></td>
      <td>カウント:<%=prize.count%></td>
    </tr>
    <%end%>
  </table>
  <form action="/admin/resetcount" method="post" style="margin-top:60px;">
    <input type="submit" value="カウントリセット押しちゃダメ">
  </form>
  <table style="margin-top:140px;">
    <tr>
      <td>なまえ</td>
      <td>内容</td>
      <td>賞品</td>
      <td>メンター</td>
    </tr>
    <%@records.each do |record|%>
      <tr>
        <td><%=record.name%></td>
        <td><%=record.content%></td>
        <td><%=record.prize%></td>
        <td><%=record.mentor%></td>
      </tr>
    <%end%>
  </table>

</body>
</html>